<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authors list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Authors list</h1>
<table title="Authors" border="1">
    <tr th:each="author : ${authors.content}">
        <td th:text="${author.id}"></td>
        <td ><a th:text="${author.name}" th:href="@{'/authors/' + ${author.id}}"></a> </td>
        <td ><a th:href="@{'/authors/' + ${author.id} + '/delete'}">remove</a> </td>
    </tr>
</table>
<br/>
<a href="/authors/-1" >Create new author</a>
<br/>
<br/>
<div class="table-pagination">
    <div style="display: block; text-align: center">

        <div style="float: left;"
             th:each="pageNo : ${#numbers.sequence(0, authors.totalPages - 1)}" >
            &nbsp;
            <a th:if="${authors.number  eq pageNo}" href="javascript:void(0);">
                <span th:text="${pageNo + 1}"></span>
            </a>
            <a th:if="${not (authors.number  eq pageNo)}" th:href="@{${'/authors'}(page=${pageNo},size=${authors.size},sort='name')}">
                <span th:text="${pageNo + 1}"></span>
            </a>

        </div>
    </div>
</div>

</body>
</html>