<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<h1>books list</h1>
<table title="books" border="1">
    <tr th:each="book : ${books.content}">
        <td th:text="${book.id}"></td>
        <td ><a th:text="${book.title}" th:href="@{'/books/' + ${book.id}}"></a> </td>
        <td ><a th:text="${book.author.name}" th:href="@{'/authors/' + ${book.author.id}}"></a> </td>
        <td ><a th:href="@{'/books/' + ${book.id} + '/delete'}">remove</a> </td>
    </tr>
</table>
<br/>
<a href="/books/-1" >Create new book</a>
<br/>


<br/>
<div class="table-pagination">
    <div style="display: block; text-align: center">
        &nbsp;
        <div style="float: left;"
                th:each="pageNo : ${#numbers.sequence(0, books.totalPages - 1)}" >
            &nbsp;
            <a th:if="${books.number  eq pageNo}" href="javascript:void(0);">
                <span th:text="${pageNo + 1}"></span>
            </a>
            <a th:if="${not (books.number  eq pageNo)}" th:href="@{${'/books'}(page=${pageNo},size=${books.size},sort='title')}">
                <span th:text="${pageNo + 1}"></span>
            </a>

        </div>
    </div>
</div>
</body>
</html>