<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Author details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Author</h1>
<form name="editor" method="post" action="/books">
    <fieldset>
        <p>id:</p>
        <input name='id' th:value='${book.id}' th:readonly="true"/>
        <p>name:</p>
        <input name='title' th:value='${book.title}'/>
        <p>author:</p>
        <select name="author" th:field="*{book.author}" >
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
        </select>
        <input type="submit" />
    </fieldset>
</form>

</body>
</html>